<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="./show.css">

		
		
	</head>
	
	
	<body>

		
		<% if(successMessage && successMessage.length > 0) { %>
		<div class="alert alert-success">
			<%= successMessage %>
		</div>
		<% } %>
		
		<% if(errorMessage && errorMessage.length > 0) { %>
		<div class="alert alert-danger">
			<%= errorMessage %>
		</div>
		<% } %>
		
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="list-group">
						<li class="list-group-item">Item 1</li>
						<li class="list-group-item">Item 2</li>
						<li class="list-group-item">Item 3</li>

					</div>
				</div>
				
				<div class="col-md-9">
					
					<div class="img-thumbnail">
						<img class="img-fluid" src="<%= campground.image %>">
						<div class="caption-full captionFull1">

							<h4 class="float-right">
								$11.00/Month
							</h4>
							<h4>
								<a class="campLink"><%= campground.name %></a>
							</h4>
							
							
						</div>
						<p class="des-text d-flex justify-content-center">
							<%= campground.description %>
						</p>
						
						<p class="des-text d-flex justify-content-center">
							Posted By <strong><%=campground.author.username%></strong>
						</p>
						
						<% if(currentUser && campground.author.username == currentUser.username) { %>
						
						<a class="form-btn btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/edit">Update</a>
						
						<form class="form-btn" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
							<button class="btn-delete btn btn-sm btn-danger">Delete</button>
						</form>
						
						<% } %>
						
					</div>
					
					<div class="img-thumbnail imgThumb2">
						<div class="col">
							<button class="float-right btn btn-success postBtn"><a class="new-a" href="/campgrounds/<%=campground._id%>/comments/new">Post a Comment</a></button>
						</div>

						<hr class="hr">
						<div class="caption-full captionFull2">
							<% campground.comment.forEach(function(commentFound){ %>

								<p class="author-p"><strong><%= commentFound.author.username %></strong></p> 
			  					<p class="text-p"><%= commentFound.comment %></p>
							<% if(currentUser) { %>
								<p class="comment-btn form-btn"><a class="comment-a btn btn-sm btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=commentFound._id%>/edit">Edit Comment</a></p>
								<form class="form-btn" action="/campgrounds/<%=campground._id%>/comments/<%=commentFound._id%>/?_method=DELETE" method="POST">
									<button class="delete-btn btn btn-sm btn-danger" type="submit">Delete</button>
								</form>
							<% } %>
							<% }) %>
		
						</div>
					</div>
				</div>
			</div>
		
			
		</div>

		
		
		
			
		</body>

</html>	